/* TABLET 640px */
@media (max-width: 640px) {
  header {
    padding: 3.6rem 7.2rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .primary-links {
    background-color: var(--color-very-dark-violet);
    position: absolute;
    top: 9.6rem;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .primary-links a {
    color: var(--color-light-gray);
  }

  .cta {
    color: var(--color-light-gray) !important;
    border: 3px solid var(--color-light-gray);
  }

  header.nav-open .primary-links {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  header.nav-open .icon-mobile-nav[name="icon-close"] {
    display: block;
  }

  header.nav-open .icon-mobile-nav[name="icon-hamburger"] {
    display: none;
  }
}
